// todo-beta might wanna reorder this all to match teh dom structure

dl.wordcamp-schedule__session-tracks,
dl.wordcamp-schedule__session-category,
dl.wordcamp-schedule__session-speakers,
.editor-styles-wrapper dl.wordcamp-schedule__session-tracks,
.editor-styles-wrapper dl.wordcamp-schedule__session-category,
.editor-styles-wrapper dl.wordcamp-schedule__session-speakers {
	dd {
		display: inline;
		margin-left: 0;

		&::after {
			content: ", ";
		}

		&:last-child::after {
			content: "";
		}
	}
}

.notice-overlaps-another-track {
	margin-top: 10px;
}

.wordcamp-schedule__session {

	@include breakpoint-grid-layout {
		margin: 0;

		&.is-overlapping-another-session {
			padding-bottom: 125px;
		}

		&.is-spanning-some-tracks {
			text-align: center;
		}
	}

}

.wordcamp-schedule__session-title,
.wordcamp-schedule__session-tracks,
.wordcamp-schedule__session-speakers,
.wordcamp-schedule__session-category {
	display: block;
	line-height: 1.6;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.wordcamp-schedule__session-title,
.editor-styles-wrapper .wordcamp-schedule__session-title {
	font-size: 1.1em;
	margin: 0;
}

.wordcamp-schedule__session-tracks {

	@include breakpoint-grid-layout {
		display: none; /* Once the column headers are visible, this is no longer needed. */
	}
}

.editor-styles-wrapper .wordcamp-schedule__session-speakers a {
	color: #23282d;
}

.wordcamp-schedule__session-category {
	font-style: italic;
	color: #a8a8a8;
}
